@page
@model DigitalLibrary.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Test Page";
}

<div class="identity-page">
    <div class="identity-container">
        <div class="identity-header">
            <h1 class="identity-title">Test Page</h1>
            <p class="identity-subtitle">This page tests if the models are accessible</p>
        </div>
        
        <div class="identity-form">
            <p>If you can see this page, the namespace issues are resolved!</p>
            <div class="identity-links">
                <p><a asp-page="./Login">Go to Login</a></p>
            </div>
        </div>
    </div>
</div> 